In [1]:
import requests
import pandas as pd
import json
from pandas import json_normalize
import os
import sqlite3

In [2]:
ACCESS_TOKEN = os.environ.get('KIWI_API_KEY')

In [3]:
destination = 'NYC'
origin = 'LAX'
date = '2021-10-01'

with sqlite3.connect('../flights.db') as conn:
    query = f"""
            SELECT * FROM flights
            WHERE city_code_to = '{destination}'
            AND city_code_from = '{origin}'
            AND local_departure > date('{date}')
            """
    df = pd.read_sql_query(query, conn)

In [6]:
df.sort_values(by=['price'])

,id,extract_time,flight_id,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_category,equipment
1082,243e1cdb4cbf00007696d4de_02023090600,2023-09-06 00:26:16,NK232323101721,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-10-17 21:15,2023-10-18 05:47,NK,3945.35,94,94,2323,U,UA21NR,M,None
1000,243e1cdb4cf4000045cabf53_02023090600,2023-09-06 00:26:16,NK232323120921,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-09 21:08,2023-12-10 05:16,NK,3945.35,94,94,2323,U,UA21NR,M,None
1001,243e1cdb4cf200007c8a7966_02023090600,2023-09-06 00:26:16,NK232323120721,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-07 21:08,2023-12-08 05:16,NK,3945.35,94,94,2323,U,UA21NR,M,None
1002,243e1cdb4cf800006ec910d0_02023090600,2023-09-06 00:26:16,NK232323121321,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-13 21:08,2023-12-14 05:16,NK,3945.35,94,94,2323,U,UA21NR,M,None
1003,243e1cdb4cf70000ca4e9383_02023090600,2023-09-06 00:26:16,NK232323121221,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-12 21:08,2023-12-13 05:16,NK,3945.35,94,94,2323,U,UA21NR,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,243e1cdb4d020000ec4ffa68_02023090600,2023-09-06 00:26:10,UA261423122312,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-23 12:55,2023-12-23 20:52,UA,3945.35,336,336,2614,N,,M,None
996,243e1cdb4d060000c6088ff3_02023090600,2023-09-06 00:26:10,UA261423122712,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-27 12:55,2023-12-27 20:52,UA,3945.35,409,409,2614,V,,M,None
997,243e1cdb4d07000031e264fb_02023090600,2023-09-06 00:26:10,UA261423122812,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-28 12:55,2023-12-28 20:52,UA,3945.35,410,410,2614,V,,M,None
998,243e1cdb4d050000ddb90914_02023090600,2023-09-06 00:26:10,UA261423122612,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-26 12:55,2023-12-26 20:52,UA,3945.35,416,416,2614,Q,,M,None
999,243e1cdb4d010000eefc3ef8_02023090600,2023-09-06 00:26:10,UA261423122212,LAX,EWR,Los Angeles,LAX,New York,NYC,2023-12-22 12:55,2023-12-22 20:52,UA,3945.35,420,420,2614,V,,M,None

In [8]:
df['date'] = pd.to_datetime(df['local_departure']).dt.date

    # Group by date and aggregate prices for each date
aggregated = df.groupby('date').agg({
        'price': list,
        'fare_classes': list
    }).to_dict('index')
aggregated

{datetime.date(2023, 9, 3): {'price': [178,
   178,
   178,
   178,
   178,
   209,
   262,
   472,
   472,
   488,
   178,
   178,
   178,
   178,
   178,
   199,
   326,
   472,
   472,
   488,
   178,
   178,
   178,
   209,
   251,
   468,
   472,
   488,
   344],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'M',
   'M',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   'E',
   'N',
   'M',
   'M',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   'H',
   'M',
   'H',
   'N']},
 datetime.date(2023, 9, 4): {'price': [468,
   468,
   468,
   468,
   468,
   472,
   472,
   483,
   488,
   843,
   468,
   468,
   468,
   468,
   468,
   472,
   472,
   483,
   488,
   843,
   468,
   468,
   468,
   468,
   468,
   472,
   472,
   478,
   488,
   1129],
  'fare_classes': ['H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   '',
   'H',
   'U',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   '',
   'H',
   'U',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H',
   'H',
   'M']},
 datetime.date(2023, 9, 5): {'price': [468,
   468,
   468,
   468,
   468,
   472,
   472,
   488,
   468,
   468,
   468,
   468,
   468,
   472,
   472,
   488,
   468,
   468,
   468,
   468,
   468,
   472,
   472,
   488],
  'fare_classes': ['H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H']},
 datetime.date(2023, 9, 6): {'price': [468,
   468,
   472,
   472,
   472,
   472,
   472,
   488,
   468,
   468,
   472,
   472,
   472,
   472,
   472,
   488,
   468,
   468,
   472,
   472,
   472,
   472,
   472,
   488],
  'fare_classes': ['H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H',
   'H',
   'H',
   'H',
   'H',
   'H',
   '',
   '',
   'H']},
 datetime.date(2023, 9, 7): {'price': [106,
   106,
   106,
   106,
   106,
   118,
   192,
   263,
   472,
   488,
   106,
   106,
   106,
   106,
   106,
   118,
   192,
   262,
   472,
   488,
   106,
   106,
   106,
   106,
   106,
   118,
   192,
   262,
   472,
   488,
   106,
   106,
   118,
   136,
   136,
   161,
   191,
   261],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'E',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   '',
   'H',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'E']},
 datetime.date(2023, 9, 8): {'price': [106,
   106,
   106,
   106,
   118,
   137,
   192,
   343,
   437,
   472,
   488,
   106,
   106,
   106,
   106,
   118,
   137,
   192,
   343,
   383,
   472,
   488,
   106,
   106,
   106,
   106,
   118,
   162,
   192,
   383,
   469,
   488,
   106,
   106,
   106,
   106,
   118,
   161,
   191,
   383],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'Q',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'Q',
   'M',
   'H',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'Q']},
 datetime.date(2023, 9, 9): {'price': [189,
   189,
   189,
   189,
   292,
   365,
   390,
   469,
   469,
   488,
   189,
   189,
   189,
   189,
   292,
   365,
   390,
   469,
   472,
   488,
   241,
   241,
   241,
   241,
   333,
   390,
   472,
   472,
   488,
   241,
   241,
   241,
   241,
   390,
   685],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'M',
   'M',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'M',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'H',
   'N',
   'N',
   'N',
   'N',
   'N',
   'H']},
 datetime.date(2023, 9, 10): {'price': [189,
   241,
   241,
   241,
   286,
   303,
   303,
   365,
   427,
   535,
   189,
   241,
   241,
   241,
   241,
   241,
   303,
   365,
   427,
   535,
   189,
   241,
   241,
   241,
   241,
   285,
   303,
   365,
   427,
   535,
   189,
   241,
   241,
   287,
   287,
   303,
   317,
   365,
   424,
   434],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'T',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'H',
   'M']},
 datetime.date(2023, 9, 11): {'price': [189,
   189,
   189,
   189,
   189,
   189,
   207,
   355,
   355,
   189,
   189,
   189,
   189,
   189,
   189,
   189,
   355,
   355,
   189,
   189,
   189,
   189,
   189,
   189,
   189,
   355,
   355,
   188,
   188,
   188,
   188,
   188,
   188,
   189,
   355,
   355],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 12): {'price': [189,
   189,
   189,
   189,
   189,
   189,
   190,
   200,
   242,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   200,
   242,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   199,
   242,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   190],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 13): {'price': [189,
   189,
   189,
   189,
   189,
   189,
   190,
   200,
   231,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   200,
   231,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   199,
   231,
   188,
   188,
   188,
   188,
   188,
   189,
   190,
   190],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 14): {'price': [189,
   189,
   189,
   200,
   231,
   251,
   302,
   302,
   355,
   189,
   189,
   189,
   200,
   229,
   231,
   302,
   302,
   355,
   189,
   189,
   189,
   199,
   225,
   231,
   287,
   302,
   355,
   188,
   188,
   189,
   190,
   225,
   231,
   287,
   301],
  'fare_classes': ['N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'E',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N']},
 datetime.date(2023, 9, 15): {'price': [189,
   190,
   239,
   239,
   280,
   318,
   434,
   443,
   443,
   189,
   190,
   239,
   239,
   280,
   318,
   434,
   443,
   443,
   189,
   190,
   239,
   239,
   280,
   303,
   434,
   443,
   443,
   189,
   190,
   239,
   239,
   303,
   363,
   365,
   441,
   441],
  'fare_classes': ['N',
   '',
   'N',
   'N',
   'E',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'E',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'E',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'Q',
   '',
   'N',
   'N']},
 datetime.date(2023, 9, 16): {'price': [147,
   147,
   147,
   147,
   147,
   189,
   190,
   190,
   147,
   147,
   147,
   147,
   147,
   189,
   190,
   190,
   189,
   189,
   189,
   189,
   189,
   189,
   190,
   190,
   188,
   188,
   188,
   188,
   188,
   189,
   190,
   190],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 17): {'price': [148,
   234,
   234,
   234,
   324,
   364,
   365,
   148,
   234,
   234,
   241,
   324,
   364,
   365,
   148,
   234,
   234,
   249,
   324,
   364,
   365,
   148,
   234,
   234,
   249,
   288,
   362,
   365],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'G',
   'N',
   '']},
 datetime.date(2023, 9, 18): {'price': [147,
   147,
   147,
   148,
   172,
   211,
   247,
   247,
   355,
   147,
   147,
   147,
   148,
   172,
   211,
   247,
   247,
   355,
   147,
   147,
   147,
   148,
   170,
   188,
   247,
   247,
   280,
   355,
   147,
   147,
   147,
   148,
   170,
   210,
   246,
   247,
   280,
   355],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '']},
 datetime.date(2023, 9, 19): {'price': [147,
   147,
   147,
   147,
   147,
   148,
   180,
   221,
   242,
   147,
   147,
   147,
   147,
   147,
   148,
   180,
   219,
   242,
   147,
   147,
   147,
   147,
   147,
   148,
   180,
   219,
   242,
   147,
   147,
   147,
   147,
   147,
   148,
   149,
   206],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 20): {'price': [147,
   147,
   147,
   148,
   166,
   180,
   206,
   247,
   147,
   147,
   147,
   148,
   166,
   180,
   206,
   247,
   147,
   147,
   147,
   147,
   148,
   180,
   206,
   234,
   147,
   147,
   147,
   147,
   148,
   180,
   206,
   246],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N']},
 datetime.date(2023, 9, 21): {'price': [173,
   188,
   203,
   206,
   219,
   247,
   247,
   248,
   293,
   172,
   173,
   203,
   206,
   219,
   247,
   247,
   248,
   293,
   172,
   172,
   206,
   219,
   234,
   247,
   247,
   248,
   293,
   172,
   188,
   206,
   215,
   219,
   246,
   246,
   247,
   293],
  'fare_classes': ['N',
   'N',
   'N',
   '',
   'E',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'E',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   '',
   'E',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'E',
   'N',
   'N',
   'N',
   '']},
 datetime.date(2023, 9, 22): {'price': [148,
   190,
   236,
   236,
   236,
   236,
   236,
   247,
   295,
   148,
   190,
   236,
   236,
   236,
   236,
   236,
   247,
   295,
   148,
   190,
   236,
   236,
   236,
   236,
   236,
   247,
   303,
   148,
   190,
   236,
   236,
   236,
   236,
   236,
   247,
   303],
  'fare_classes': ['N',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N']},
 datetime.date(2023, 9, 23): {'price': [75,
   75,
   106,
   128,
   148,
   149,
   162,
   162,
   180,
   75,
   75,
   106,
   128,
   148,
   149,
   162,
   162,
   180,
   147,
   147,
   147,
   147,
   147,
   148,
   149,
   180,
   147,
   147,
   147,
   147,
   148,
   148,
   149,
   180],
  'fare_classes': ['N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 24): {'price': [116,
   116,
   128,
   206,
   206,
   206,
   283,
   360,
   360,
   116,
   116,
   128,
   206,
   206,
   206,
   283,
   360,
   360,
   128,
   146,
   146,
   206,
   206,
   206,
   280,
   360,
   360,
   128,
   146,
   168,
   189,
   189,
   205,
   205,
   205,
   280,
   360,
   360],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'L',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'E',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'E',
   '',
   '']},
 datetime.date(2023, 9, 25): {'price': [116,
   116,
   128,
   139,
   191,
   206,
   206,
   242,
   355,
   116,
   116,
   128,
   139,
   191,
   206,
   206,
   242,
   355,
   116,
   116,
   128,
   146,
   193,
   198,
   206,
   242,
   355,
   116,
   116,
   128,
   168,
   193,
   193,
   205,
   242,
   355],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'L']},
 datetime.date(2023, 9, 26): {'price': [75,
   75,
   75,
   107,
   136,
   136,
   206,
   206,
   75,
   75,
   75,
   107,
   136,
   136,
   206,
   206,
   75,
   75,
   75,
   106,
   106,
   107,
   206,
   206,
   75,
   75,
   89,
   107,
   136,
   138,
   206,
   206],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 27): {'price': [76,
   93,
   106,
   107,
   136,
   138,
   206,
   206,
   76,
   76,
   106,
   106,
   107,
   136,
   206,
   206,
   76,
   76,
   106,
   106,
   107,
   136,
   206,
   206,
   76,
   76,
   106,
   106,
   107,
   136,
   206,
   206],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 9, 28): {'price': [116,
   156,
   206,
   206,
   206,
   206,
   231,
   283,
   293,
   116,
   168,
   206,
   206,
   206,
   206,
   231,
   280,
   293,
   116,
   168,
   206,
   206,
   206,
   206,
   231,
   280,
   293,
   116,
   168,
   205,
   205,
   205,
   206,
   212,
   280,
   293],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'E',
   '']},
 datetime.date(2023, 9, 29): {'price': [117,
   117,
   117,
   117,
   160,
   164,
   210,
   221,
   242,
   246,
   117,
   117,
   117,
   117,
   160,
   164,
   210,
   219,
   242,
   246,
   117,
   117,
   117,
   146,
   164,
   169,
   176,
   219,
   242,
   251,
   117,
   117,
   117,
   146,
   169,
   176,
   206,
   219,
   251,
   293],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'E',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'E',
   'N',
   '']},
 datetime.date(2023, 9, 30): {'price': [75,
   75,
   89,
   93,
   136,
   136,
   149,
   149,
   164,
   164,
   75,
   75,
   89,
   93,
   128,
   149,
   151,
   151,
   164,
   164,
   75,
   75,
   93,
   106,
   127,
   136,
   136,
   149,
   164,
   164,
   75,
   75,
   93,
   106,
   136,
   136,
   148,
   149,
   164,
   164],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'E',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'E',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'E',
   'N',
   '',
   '']},
 datetime.date(2023, 10, 1): {'price': [117,
   162,
   191,
   293,
   303,
   325,
   325,
   358,
   443,
   117,
   162,
   191,
   293,
   303,
   325,
   325,
   358,
   443,
   159,
   176,
   198,
   292,
   292,
   293,
   333,
   358,
   454,
   169,
   176,
   198,
   292,
   293,
   333,
   333,
   358,
   454],
  'fare_classes': ['N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'L',
   'Q',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'L',
   'Q',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'L',
   'Q',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'L',
   'Q']},
 datetime.date(2023, 10, 2): {'price': [116,
   116,
   128,
   139,
   206,
   206,
   206,
   242,
   355,
   116,
   116,
   128,
   145,
   206,
   206,
   206,
   242,
   355,
   116,
   116,
   116,
   128,
   206,
   206,
   206,
   242,
   355,
   116,
   116,
   116,
   128,
   205,
   205,
   205,
   242,
   355],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 10, 3): {'price': [75,
   75,
   75,
   107,
   118,
   136,
   138,
   151,
   164,
   75,
   75,
   75,
   107,
   118,
   136,
   138,
   151,
   164,
   75,
   75,
   75,
   107,
   118,
   136,
   136,
   151,
   164,
   75,
   75,
   75,
   107,
   118,
   118,
   136,
   136,
   150],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   '',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N']},
 datetime.date(2023, 10, 4): {'price': [106,
   131,
   136,
   136,
   136,
   151,
   160,
   206,
   206,
   106,
   131,
   136,
   136,
   136,
   151,
   160,
   206,
   206,
   106,
   136,
   136,
   136,
   136,
   144,
   151,
   206,
   206,
   106,
   136,
   136,
   136,
   136,
   144,
   150,
   206,
   242],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '']},
 datetime.date(2023, 10, 5): {'price': [116,
   139,
   151,
   156,
   181,
   203,
   206,
   242,
   355,
   117,
   139,
   151,
   151,
   181,
   203,
   206,
   242,
   355,
   146,
   168,
   168,
   168,
   181,
   206,
   212,
   242,
   355,
   159,
   168,
   168,
   178,
   180,
   205,
   212,
   242,
   363,
   434],
  'fare_classes': ['N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   '',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   'N',
   '',
   'Q',
   'M']},
 datetime.date(2023, 10, 6): {'price': [145,
   156,
   179,
   181,
   189,
   206,
   206,
   242,
   360,
   145,
   156,
   179,
   181,
   189,
   206,
   206,
   242,

In [17]:
df[df["airlines"] == "UA"].sort_values("price", ascending = True)[10:]

,id,extract_time,flight_id,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_category,equipment
1979,243e11af4caa0000a8f53fab_02023090312,2023-09-03 12:24:56,UA237623092623,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-26 23:39,2023-09-27 07:33,UA,3678.07,75,75,2376,N,,M,None
1978,243e11af4cbf00005ca5c959_02023090312,2023-09-03 12:24:56,UA271823101723,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-10-17 23:20,2023-10-18 07:14,UA,3678.07,75,75,2718,N,,M,None
1977,243e11af4cb50000c6cf21be_02023090312,2023-09-03 12:24:56,UA271823100723,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-10-07 23:20,2023-10-08 07:14,UA,3678.07,75,75,2718,N,,M,None
1976,243e11af4cd10000b87c9647_02023090312,2023-09-03 12:24:56,UA35223110411,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-11-04 11:50,2023-11-04 19:43,UA,3678.07,75,75,352,N,,M,None
1975,243e11af4cce00004ef5ef8d_02023090312,2023-09-03 12:24:56,UA35223110111,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-11-01 11:15,2023-11-01 19:08,UA,3678.07,75,75,352,N,,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5826,243e11af4c9a4ca240b2b21d_0|243e11af4c9a4ca240b...,2023-09-05 01:01:28,UA237623091023,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-10 23:39,2023-09-11 07:33,UA,3678.07,702,702,2376,H,HAA0PQEN,M,None
5827,243e11af4c994ca1d2526da7_0|243e11af4c994ca1d25...,2023-09-05 01:01:28,UA237523090908,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-09 08:40,2023-09-09 16:25,UA,3678.07,753,753,2375,H,HAA0PQEN,M,None
987,243e11af4c944c9bba2a7e1a_0|243e11af4c944c9bba2...,2023-09-02 23:23:29,UA114023090408,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-04 08:35,2023-09-04 16:25,UA,3678.07,843,843,1140,U,UAA0OKEN,M,None
1948,243e11af4c944c9bba2a7e1a_0|243e11af4c944c9bba2...,2023-09-03 07:13:09,UA114023090408,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-04 08:35,2023-09-04 16:25,UA,3678.07,843,843,1140,U,UAA0OKEN,M,None
2934,243e11af4c944c981bf7d4f5_0|243e11af4c944c981bf...,2023-09-03 12:24:57,UA114023090408,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-04 08:35,2023-09-04 16:25,UA,3678.07,1129,1129,1140,M,MAA0OKEN,M,None

In [15]:
df[df["flight_id"] == "UA163523120513"]

,id,extract_time,flight_id,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_category,equipment
0,243e11af4cf000004fea1a40_02023090223,2023-09-02 23:23:29,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
994,243e11af4cf000004fea1a40_02023090307,2023-09-03 07:13:07,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
1954,243e11af4cf000004fea1a40_02023090312,2023-09-03 12:24:56,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
2935,243e11af4cf000004fea1a40_02023090401,2023-09-04 01:03:03,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
3932,243e11af4cf000004fea1a40_02023090412,2023-09-04 12:27:59,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
4842,243e11af4cf000004fea1a40_02023090501,2023-09-05 01:01:26,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None

In [29]:
url = "https://api.tequila.kiwi.com/v2/search"

data = {
    "fly_from": "LAX",
    "fly_to": "WAS",
    "date_from": "3/09/2023",
    "date_to": "31/12/2023",
    "adults": 1,
    "selected_cabins": "M",
    "select_airlines": "UA,DL,AA",
    "select_airlines_exclude": False,
    "curr": "USD",
    "max_stopovers": 0,
    "limit": 1000
}

r = requests.get(url=url, headers= {"accept": "application/json", "apikey": ACCESS_TOKEN}, params = data).json()

In [45]:
df_list = []
for flight in r['data']:
    df_dict = {}
    df_dict['id'] = flight['id'] + str(pd.Timestamp.now().strftime('%Y%m%d%H'))
    df_dict['extract_time'] = pd.Timestamp.now().strftime('%Y-%m-%d %H:%M:%S')
    df_dict['flight_id'] = str(flight['airlines'][0]) + str(flight['route'][0]['flight_no']) + str(pd.to_datetime(flight['local_departure']).strftime('%y%m%d%H'))
    df_dict['fly_from'] = flight['flyFrom']
    df_dict['fly_to'] = flight['flyTo']
    df_dict['city_from'] = flight['cityFrom']
    df_dict['city_code_from'] = flight['cityCodeFrom']
    df_dict['city_to'] = flight['cityTo']
    df_dict['city_code_to'] = flight['cityCodeTo']
    df_dict['local_departure'] = pd.to_datetime(flight['local_departure']).strftime('%Y-%m-%d %H:%M')
    df_dict['local_arrival'] = pd.to_datetime(flight['local_arrival']).strftime('%Y-%m-%d %H:%M')
    df_dict['airlines'] = flight['airlines'][0]
    df_dict['distance'] = flight['distance']
    df_dict['fare'] = flight['fare']['adults']
    df_dict['price'] = flight['price']
    for route in flight['route']:
        df_dict['flight_number'] = route['flight_no']
        df_dict['fare_classes'] = route['fare_classes']
        df_dict['fare_basis'] = route['fare_basis']
        df_dict['fare_category'] = route['fare_category']
        df_dict['equipment'] = route['equipment']

    df_list.append(df_dict)
df = pd.DataFrame(df_list)

In [46]:
df

,id,extract_time,flight_id,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_category,equipment
0,243e11af4cf000004fea1a40_02023090223,2023-09-02 23:23:29,UA163523120513,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-05 13:00,2023-12-05 20:44,UA,3678.07,75,75,1635,N,,M,None
1,243e11af4cd10000dde5c498_02023090223,2023-09-02 23:23:29,UA163523110412,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-11-04 12:40,2023-11-04 20:24,UA,3678.07,75,75,1635,N,,M,None
2,243e11af4cf4000030097932_02023090223,2023-09-02 23:23:29,UA163523120913,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-09 13:00,2023-12-09 20:44,UA,3678.07,75,75,1635,N,,M,None
3,243e11af4cea000090f44043_02023090223,2023-09-02 23:23:29,UA163523112913,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-11-29 13:00,2023-11-29 20:44,UA,3678.07,75,75,1635,N,,M,None
4,243e11af4cce0000a6a2664f_02023090223,2023-09-02 23:23:29,UA163523110112,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-11-01 12:40,2023-11-01 20:24,UA,3678.07,75,75,1635,N,,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,243e0b3b4cc800003090e856_02023090223,2023-09-02 23:23:29,DL84523102608,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-10-26 08:00,2023-10-26 16:11,DL,3714.97,535,535,845,,,M,None
984,243e11af4d08000073048ac3_02023090223,2023-09-02 23:23:29,UA241323122908,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-29 08:40,2023-12-29 16:11,UA,3678.07,540,540,2413,U,,M,None
985,243e11af4d02000053688f77_02023090223,2023-09-02 23:23:29,UA241323122308,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-23 08:40,2023-12-23 16:11,UA,3678.07,546,546,2413,H,,M,None
986,243e0b3b4cbd00009f0ecc32_02023090223,2023-09-02 23:23:29,AA253223101512,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-10-15 12:55,2023-10-15 20:55,AA,3714.97,690,690,2532,,,M,None
987,243e11af4c944c9bba2a7e1a_0|243e11af4c944c9bba2...,2023-09-02 23:23:29,UA114023090408,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-04 08:35,2023-09-04 16:25,UA,3678.07,843,843,1140,U,UAA0OKEN,M,None

In [49]:
r['data'][986]

{'id': '243e0b3b4cbd00009f0ecc32_0',
 'flyFrom': 'LAX',
 'flyTo': 'DCA',
 'cityFrom': 'Los Angeles',
 'cityCodeFrom': 'LAX',
 'cityTo': 'Washington, D.C.',
 'cityCodeTo': 'WAS',
 'countryFrom': {'code': 'US', 'name': 'United States'},
 'countryTo': {'code': 'US', 'name': 'United States'},
 'local_departure': '2023-10-15T12:55:00.000Z',
 'utc_departure': '2023-10-15T19:55:00.000Z',
 'local_arrival': '2023-10-15T20:55:00.000Z',
 'utc_arrival': '2023-10-16T00:55:00.000Z',
 'nightsInDest': None,
 'quality': 691.62907,
 'distance': 3714.97,
 'duration': {'departure': 18000, 'return': 0, 'total': 18000},
 'price': 690,
 'conversion': {'EUR': 639.6292, 'USD': 690},
 'fare': {'adults': 690, 'children': 690, 'infants': 690},
 'price_dropdown': {'base_fare': 690, 'fees': 0},
 'bags_price': {'1': 41.715},
 'baglimit': {'hand_height': 36,
  'hand_length': 56,
  'hand_weight': 10,
  'hand_width': 23,
  'hold_dimensions_sum': 158,
  'hold_height': 52,
  'hold_length': 78,
  'hold_weight': 23,
  'hold_width': 28,
  'personal_item_height': 35,
  'personal_item_length': 45,
  'personal_item_weight': 10,
  'personal_item_width': 20},
 'availability': {'seats': None},
 'airlines': ['AA'],
 'route': [{'id': '243e0b3b4cbd00009f0ecc32_0',
   'combination_id': '243e0b3b4cbd00009f0ecc32',
   'flyFrom': 'LAX',
   'flyTo': 'DCA',
   'cityFrom': 'Los Angeles',
   'cityCodeFrom': 'LAX',
   'cityTo': 'Washington, D.C.',
   'cityCodeTo': 'WAS',
   'local_departure': '2023-10-15T12:55:00.000Z',
   'utc_departure': '2023-10-15T19:55:00.000Z',
   'local_arrival': '2023-10-15T20:55:00.000Z',
   'utc_arrival': '2023-10-16T00:55:00.000Z',
   'airline': 'AA',
   'flight_no': 2532,
   'operating_carrier': 'AA',
   'operating_flight_no': '2532',
   'fare_basis': '',
   'fare_category': 'M',
   'fare_classes': '',
   'fare_family': '',
   'return': 0,
   'bags_recheck_required': False,
   'vi_connection': False,
   'guarantee': False,
   'equipment': None,
   'vehicle_type': 'aircraft'}],
 'booking_token': 'GTnKzJVD0gPefZjPlXdCUD6jfqFMjEHudvEAa5AP9tPXP_lFM2q-8m5asWbAJ5LiMNi1-kBoHoQLCbjR799MiyJwRIRcwgvnTGjSmcp-JgY6KZZV0SrUkoZvj-leJ-QTBcQZpvlWYq-ByNejuNy9nS_nvUFCOUBRyCW5GoSvP1_kywrT7SvmrsPk52VnLW3uGmxii8DnhI25eNEqlA4s0RSfo7VxzCcaT8-yuOBeOB9CRSnzwAmKLIcfbmMrm5ScwlkjoSame8SbEtw3epoNb4i-2cKJfFoxSgUk3iSEKfnYO5_dDGELLtCfW1r98H5bPyVyERG1LmszIxWg_f8OXVN4rR74iQArBK_IJiQfQFtWxcIRchD_IAoLzUm52QK7ZUY3DT0MDn5A0WidysQheRCESoBPXdi1YyVCgzR89LcBJB3GxGBzMxu59Y605vp1sORIYjRHOvhtCU2dZBOGFgg==',
 'facilitated_booking_available': True,
 'pnr_count': 1,
 'has_airport_change': False,
 'technical_stops': 0,
 'throw_away_ticketing': False,
 'hidden_city_ticketing': False,
 'virtual_interlining': False}

In [47]:
with sqlite3.connect('flights.db') as conn:
    df.to_sql('flights', conn, if_exists='append', index=False)

In [31]:
df.sort_values("local_departure")

,id,extract_time,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_family,fare_category,equipment
751,243e0b3b4c930000ad68753c_0,2023-09-02 23:13:11,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-03 07:45,2023-09-03 16:00,DL,3714.97,262,262,380,,,,M,None
960,243e0b3b4c930000c41ac34a_0,2023-09-02 23:13:11,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-03 08:08,2023-09-03 16:16,AA,3714.97,472,472,2725,M,M0AKZNN1,,M,None
413,243e11af4c93000062a3ba55_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-03 08:35,2023-09-03 16:25,UA,3678.07,178,178,1140,N,,,M,None
958,243e0b3b4c93000040e1b3c6_0,2023-09-02 23:13:11,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-03 12:49,2023-09-03 20:56,AA,3714.97,472,472,2532,M,M0AKZNN1,,M,None
417,243e11af4c93000058c7ce98_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-09-03 12:51,2023-09-03 21:02,UA,3678.07,178,178,1635,N,,,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,243e11af4d070000af427ed7_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-28 21:15,2023-12-29 04:58,UA,3678.07,246,246,684,N,,,M,None
758,243e0b3b4d080000d085acbb_0,2023-09-02 23:13:11,LAX,DCA,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-29 07:50,2023-12-29 15:46,DL,3714.97,280,280,410,E,KAVOA0BQ,,M,None
984,243e11af4d08000073048ac3_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-29 08:40,2023-12-29 16:11,UA,3678.07,540,540,2413,U,,,M,None
976,243e11af4d090000ed6f5ce7_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-30 08:40,2023-12-30 16:11,UA,3678.07,530,530,2413,U,UAA2AQES,,M,None
974,243e11af4d0a0000c960ac5a_0,2023-09-02 23:13:11,LAX,IAD,Los Angeles,LAX,"Washington, D.C.",WAS,2023-12-31 08:40,2023-12-31 16:11,UA,3678.07,520,520,2413,H,,,M,None

In [108]:
df[df['flight_number'] == 1411].sort_values("local_departure")

,id,fly_from,fly_to,city_from,city_code_from,city_to,city_code_to,local_departure,local_arrival,airlines,distance,fare,price,flight_number,fare_classes,fare_basis,fare_family,fare_category,equipment
22,0f9c1cdb4ca00000a565c5fe_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-16T07:00:00.000Z,2023-09-16T15:26:00.000Z,UA,4124.32,168,168,1411,N,,,M,None
61,0f9c1cdb4ca10000a29f55d2_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-17T07:00:00.000Z,2023-09-17T15:26:00.000Z,UA,4124.32,250,250,1411,N,,,M,None
53,0f9c1cdb4ca200003e058587_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-18T07:00:00.000Z,2023-09-18T15:26:00.000Z,UA,4124.32,228,228,1411,N,,,M,None
34,0f9c1cdb4ca30000e889c3a5_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-19T07:00:00.000Z,2023-09-19T15:26:00.000Z,UA,4124.32,169,169,1411,N,,,M,None
21,0f9c1cdb4ca400005d02930a_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-20T07:00:00.000Z,2023-09-20T15:26:00.000Z,UA,4124.32,168,168,1411,N,,,M,None
52,0f9c1cdb4ca500004da9b3e6_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-21T07:00:00.000Z,2023-09-21T15:26:00.000Z,UA,4124.32,228,228,1411,N,,,M,None
74,0f9c1cdb4ca6000069a6435b_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-22T07:00:00.000Z,2023-09-22T15:26:00.000Z,UA,4124.32,554,554,1411,H,,,M,None
6,0f9c1cdb4ca70000b822579e_0,SFO,EWR,San Francisco,SFO,New York,NYC,2023-09-23T07:00:00.000Z,2023-09-23T15:26:00.000Z,UA,4124.32,158,158,1411,N,,,M,None

In [89]:
needed_columns = ['id', 'flyFrom', 'flyTo', 'cityFrom', 'cityCodeFrom', 'cityTo',
       'cityCodeTo', 'local_departure', 'utc_departure', 'local_arrival',
       'utc_arrival', 'nightsInDest', 'quality', 'distance', 'price', 'airlines', 'route',
       'fare.adults', 'fare.children', 'fare.infants', 'availability.seats',]
df = json_normalize(r['data'])[needed_columns]

In [98]:
r['data'][74]['route'][0]

{'id': '0f9c1cdb4ca6000069a6435b_0',
 'combination_id': '0f9c1cdb4ca6000069a6435b',
 'flyFrom': 'SFO',
 'flyTo': 'EWR',
 'cityFrom': 'San Francisco',
 'cityCodeFrom': 'SFO',
 'cityTo': 'New York',
 'cityCodeTo': 'NYC',
 'local_departure': '2023-09-22T07:00:00.000Z',
 'utc_departure': '2023-09-22T14:00:00.000Z',
 'local_arrival': '2023-09-22T15:26:00.000Z',
 'utc_arrival': '2023-09-22T19:26:00.000Z',
 'airline': 'UA',
 'flight_no': 1411,
 'operating_carrier': 'UA',
 'operating_flight_no': '1411',
 'fare_basis': '',
 'fare_category': 'M',
 'fare_classes': 'H',
 'fare_family': '',
 'return': 0,
 'bags_recheck_required': False,
 'vi_connection': False,
 'guarantee': False,
 'equipment': None,
 'vehicle_type': 'aircraft'}

In [158]:
test

In [142]:
url = "https://api.duffel.com/air/offer_requests?return_offers=true&supplier_timeout=10000"
headers = {"Authorization" : "Bearer duffel_test_VayBWHlqzqdf4o0azYvLZEv-YkRXnwQMFZZ1dGw8lI3",
           "Accept": "application/json",
           "Content-Type": "application/json",
           "Duffel-Version": "v1",
           "Accept-Encoding": "gzip"}
data = {"data": {
    "slices": [
      {
        "origin": "LAX",
        "destination": "JFK",
        "departure_time": {
          "to": "17:00",
          "from": "09:45"
        },
        "departure_date": "2023-09-24",
        "arrival_time": {
          "to": "17:00",
          "from": "09:45"
        }
      }
    ],
    "passengers": [
      {
        "family_name": "Earhart",
        "given_name": "Amelia",
        "loyalty_programme_accounts": [
          {
            "account_number": "12901014",
            "airline_iata_code": "BA"
          }
        ],
        "type": "adult"
      },
    ],
    "max_connections": 0,
    "cabin_class": "economy"
  }
}

t = requests.post(url = url, headers = headers, data = json.dumps(data))

In [143]:
t.json()

{'data': {'slices': [{'origin_type': 'city',
    'origin': {'type': 'city',
     'time_zone': None,
     'name': 'Los Angeles',
     'longitude': None,
     'latitude': None,
     'id': 'cit_lax_us',
     'icao_code': None,
     'iata_country_code': 'US',
     'iata_code': 'LAX',
     'iata_city_code': 'LAX',
     'city_name': None,
     'city': None,
     'airports': [{'type': 'airport',
       'time_zone': 'America/Los_Angeles',
       'name': 'Van Nuys Airport',
       'longitude': -118.489719,
       'latitude': 34.208582,
       'id': 'arp_vny_us',
       'icao_code': 'KVNY',
       'iata_country_code': 'US',
       'iata_code': 'VNY',
       'iata_city_code': 'LAX',
       'city_name': 'Los Angeles'},
      {'type': 'airport',
       'time_zone': 'America/Los_Angeles',
       'name': 'Los Angeles International Airport',
       'longitude': -118.408263,
       'latitude': 33.942045,
       'id': 'arp_lax_us',
       'icao_code': 'KLAX',
       'iata_country_code': 'US',
       'iata_code': 'LAX',
       'iata_city_code': 'LAX',
       'city_name': 'Los Angeles'},
      {'type': 'airport',
       'time_zone': 'America/Los_Angeles',
       'name': 'Whiteman Airport',
       'longitude': -118.412713,
       'latitude': 34.25989,
       'id': 'arp_whp_us',
       'icao_code': 'KWHP',
       'iata_country_code': 'US',
       'iata_code': 'WHP',
       'iata_city_code': 'LAX',
       'city_name': 'Los Angeles'},
      {'type': 'airport',
       'time_zone': 'America/Los_Angeles',
       'name': 'Ontario International Airport',
       'longitude': -117.599527,
       'latitude': 34.055988,
       'id': 'arp_ont_us',
       'icao_code': 'KONT',
       'iata_country_code': 'US',
       'iata_code': 'ONT',
       'iata_city_code': 'LAX',
       'city_name': 'Ontario'}]},
    'destination_type': 'airport',
    'destination': {'type': 'airport',
     'time_zone': 'America/New_York',
     'name': 'John F. Kennedy International Airport',
     'longitude': -73.778519,
     'latitude': 40.640556,
     'id': 'arp_jfk_us',
     'icao_code': 'KJFK',
     'iata_country_code': 'US',
     'iata_code': 'JFK',
     'iata_city_code': 'NYC',
     'city_name': 'New York',
     'city': {'type': 'city',
      'time_zone': None,
      'name': 'New York',
      'longitude': None,
      'latitude': None,
      'id': 'cit_nyc_us',
      'icao_code': None,
      'iata_country_code': 'US',
      'iata_code': 'NYC',
      'iata_city_code': 'NYC',
      'city_name': None},
     'airports': None},
    'departure_date': '2023-09-24'}],
  'passengers': [{'type': 'adult',
    'loyalty_programme_accounts': [{'airline_iata_code': 'BA',
      'account_number': '12901014'}],
    'id': 'pas_0000AZNU1SlX3EYcqtu5so',
    'given_name': 'Amelia',
    'fare_type': None,
    'family_name': 'Earhart',
    'age': None}],
  'offers': [{'updated_at': '2023-09-03T03:41:05.632087Z',
    'total_emissions_kg': '852',
    'total_currency': 'USD',
    'total_amount': '208.64',
    'tax_currency': 'USD',
    'tax_amount': '31.83',
    'supported_passenger_identity_document_types': ['passport',
     'known_traveler_number',
     'passenger_redress_number'],
    'slices': [{'segments': [{'stops': [],
        'passengers': [{'passenger_id': 'pas_0000AZNU1SlX3EYcqtu5so',
          'fare_basis_code': 'Y20LGTN2',
          'cabin_class_marketing_name': 'Economy',
          'cabin_class': 'economy',
          'cabin': {'name': 'economy',
           'marketing_name': 'Economy',
           'amenities': {'wifi': {'cost': 'paid', 'available': True},
            'seat': {'pitch': '30', 'legroom': 'n/a'},
            'power': {'available': True}}},
          'baggages': [{'type': 'checked', 'quantity': 1},
           {'type': 'carry_on', 'quantity': 1}]}],
        'origin_terminal': '2',
        'origin': {'type': 'airport',
         'time_zone': 'America/Los_Angeles',
         'name': 'Los Angeles International Airport',
         'longitude': -118.408263,
         'latitude': 33.942045,
         'id': 'arp_lax_us',
         'icao_code': 'KLAX',
         'iata_country_code': 'US',
         'iata_code': 'LAX',
         'iata_city_code': 'LAX',
         'city_name': 'Los Angeles',
         'city': {'type': 'city',
          'time_zone': None,
          'name': 'Los Angeles',
          'longitude': None,
          'latitude': None,
          'id': 'cit_lax_us',
          'icao_code': None,
          'iata_country_code': 'US',
          'iata_code': 'LAX',
          'iata_city_code': 'LAX',
          'city_name': None},
         'airports': None},
        'operating_carrier_flight_number': '6511',
        'operating_carrier': {'name': 'Duffel Airways',
         'logo_symbol_url': 'https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/ZZ.svg',
         'logo_lockup_url': None,
         'id': 'arl_00009VME7D6ivUu8dn35WK',
         'iata_code': 'ZZ',
         'conditions_of_carriage_url': None},
        'marketing_carrier_flight_number': '6511',
        'marketing_carrier': {'name': 'Duffel Airways',
         'logo_symbol_url': 'https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/ZZ.svg',
         'logo_lockup_url': None,
         'id': 'arl_00009VME7D6ivUu8dn35WK',
         'iata_code': 'ZZ',
         'conditions_of_carriage_url': None},
        'id': 'seg_0000AZNU1T1U5vJleNMpkG',
        'duration': 'PT5H52M',
        'distance': '3974.2717774447433',
        'destination_terminal': '1',
        'destination': {'type': 'airport',
         'time_zone': 'America/New_York',
         'name': 'John F. Kennedy International Airport',
         'longitude': -73.778519,
         'latitude': 40.640556,
         'id': 'arp_jfk_us',
         'icao_code': 'KJFK',
         'iata_country_code': 'US',
         'iata_code': 'JFK',
         'iata_city_code': 'NYC',
         'city_name': 'New York',
         'city': {'type': 'city',
          'time_zone': None,
          'name': 'New York',
          'longitude': None,
          'latitude': None,
          'id': 'cit_nyc_us',
          'icao_code': None,
          'iata_country_code': 'US',
          'iata_code': 'NYC',
          'iata_city_code': 'NYC',
          'city_name': None},
         'airports': None},
        'departing_at': '2023-09-24T17:48:00',
        'arriving_at': '2023-09-25T02:40:00',
        'aircraft': {'name': 'Boeing 777-300',
         'id': 'arc_00009VMF8AhXSSRnQDI6HE',
         'iata_code': '773'}}],
      'origin_type': 'airport',
      'origin': {'type': 'airport',
       'time_zone': 'America/Los_Angeles',
       'name': 'Los Angeles International Airport',
       'longitude': -118.408263,
       'latitude': 33.942045,
       'id': 'arp_lax_us',
       'icao_code': 'KLAX',
       'iata_country_code': 'US',
       'iata_code': 'LAX',
       'iata_city_code': 'LAX',
       'city_name': 'Los Angeles',
       'city': {'type': 'city',
        'time_zone': None,
        'name': 'Los Angeles',
        'longitude': None,
        'latitude': None,
        'id': 'cit_lax_us',
        'icao_code': None,
        'iata_country_code': 'US',
        'iata_code': 'LAX',
        'iata_city_code': 'LAX',
        'city_name': None},
       'airports': None},
      'id': 'sli_0000AZNU1T1U5vJleNMpkH',
      'fare_brand_name': 'Basic',
      'duration': 'PT5H52M',
      'destination_type': 'airport',
      'destination': {'type': 'airport',
       'time_zone': 'America/New_York',
       'name': 'John F. Kennedy International Airport',
       'longitude': -73.778519,
       'latitude': 40.640556,
       'id': 'arp_jfk_us',
       'icao_code': 'KJFK',
       'iata_country_code': 'US',
       'iata_code': 'JFK',
       'iata_city_code': 'NYC',
       'city_name': 'New York',
       'city': {'type': 'city',
        'time_zone': None,
        'name': 'New York',
        'longitude': None,
        'latitude': None,
        'id': 'cit_nyc_us',
        'icao_code': None,
        'iata_country_code': 'US',
        'iata_code': 'NYC',
        'iata_city_code': 'NYC',
        'city_name': None},
       'airports': None},
      'conditions': {'change_before_departure': {'penalty_currency': 'GBP',
        'penalty_amount': '30.00',
        'allowed': True}}}],
    'private_fares': [],
    'payment_requirements': {'requires_instant_payment': False,
     'price_guarantee_expires_at': '2023-09-05T03:41:05Z',
     'payment_required_by': '2023-09-06T03:41:05Z'},
    'passengers': [{'type': 'adult',
      'loyalty_programme_accounts': [],
      'id': 'pas_0000AZNU1SlX3EYcqtu5so',
      'given_name': 'Amelia',
      'fare_type': None,
      'family_name': 'Earhart',
      'age': None}],
    'passenger_identity_documents_required': False,
    'partial': False,
    'owner': {'name': 'Duffel Airways',
     'logo_symbol_url': 'https://assets.duffel.com/img/airlines/for-light-background/full-color-logo/ZZ.svg',
     'logo_lockup_url': None,
     'id': 'arl_00009VME7D6ivUu8dn35WK',
     'iata_code': 'ZZ',
     'conditions_of_carriage_url': None},
    'live_mode': False,
    'id': 'off_0000AZNU1T1U5vJleNMpkI',
    'expires_at': '2023-09-03T04:11:05.630997Z',
    'created_at': '2023-09-03T03:41:05.632087Z',
    'conditions': {'refund_before_departure': {'penalty_currency': None,
      'penalty_amount': None,
      'allowed': False},
     'change_before_departure': {'penalty_currency': 'GBP',
      'penalty_amount': '30.00',
      'allowed': True}},
    'base_currency': 'USD',
    'base_amount': '176.81',
    'allowed_passenger_identity_document_types': ['passport',
     'tax_id',
     'known_traveler_number',
     'passenger_redress_number']}],
  'live_mode': False,
  'id': 'orq_0000AZNU1SlX3EYcqtu5sm',
  'created_at': '2023-09-03T03:41:05.589678Z',
  'client_key': 'SFMyNTY.g2gDdAAAAANkAAlsaXZlX21vZGVkAAVmYWxzZWQAD29yZ2FuaXNhdGlvbl9pZG0AAAAab3JnXzAwMDBBWk5TNmRLU1ZocW5Ka2N5eHNkAAtyZXNvdXJjZV9pZG0AAAAab3JxXzAwMDBBWk5VMVNsWDNFWWNxdHU1c21uBgDgSSFZigFiAAFRgA.NiUhsJt7BO3yhY0gdQCtYi_d8pJDJvkY0LXCW50Ykm8',
  'cabin_class': 'economy'}}